@import url("https://s3-us-west-1.amazonaws.com/patterns.esri.com/files/calcite-web/1.2.4/css/calcite-web.min.css");

.jimu-widget-demo div:first-child{
	color: red;
	}
.line:hover{
	cursor: pointer; 
	background-color:#4AD1DF;
}
.sortTram:hover{
	cursor: pointer; 
	text-decoration:underline;
	color:yellow;
}
thead{
	color:#ffffff;
	background-color:#0067FF;
	text-align:center;
}

.sortTram{
	border:outset;
	border-width:1px;
}

#scroll_bar_LuoiHienThiKH {
	/*width: 570px;*/
	width: 100%;
	height: 150px;
	/*height:100%;*/
	overflow: auto;
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 0px;
	border: solid 1px;
	border-color: lightgray;
	/*background-color: white;*/
}

.lab-content 
{
    color: white;
    background-color: gray;
    padding: 3px 5px 3px 5px;
    border-radius: 4px;
}

.chucNangGiaoViec{
	width:80px;
	height:25px;
	text-align:center;
	margin-top:10px;
}
.btnsm{
 padding: 5px 10px;
font-size: 12px;
line-height: 1.5;
border-radius: 0;
}





#floatingLegend {    
    position: absolute;    
  top: 100px;    
    left: 175px;    
    width: 260px;    
    height: 140px;    
    z-index: 99;    
  }    
#dock {    
    position:absolute;    
    border-style:hidden;    
    z-index: 99;    
    top: 28px;    
    right: 330px;    
    height: 0px;    
    width: 0px;    
    font-family: Arial, Helvetica, sans-serif;    
    font-size: 12pt;    
    visibility:hidden;    
    display:none;    
}   