<div style="background-color:white;color:black;">
	<center style="font-family:Times New Roman;font-size:12pt">
		<table>
			<tr>
				<td valign="top">
					<div data-dojo-attach-point="BaoCaoTongTrang">
						<h3 style="text-align:left;"><strong data-dojo-attach-point="txtSoLuongTramSuCo">Danh sách sự cố cháy nổ</strong></h3>
						<table id="TramSuCo" border="1" style="width:90mm;table-layout:fixed" cellpadding="10" cellspacing="0" class="table modifier-class table-striped table-blue">
							<thead>
								<tr>
                                    <th onclick="that1.sortTram(0,this,true)" class="sortTram" style="width:10mm;text-align:center"><strong>STT</strong><span></span></th>
									<th onclick="that1.sortTram(1,this,true)" class="sortTram" style="width:30mm;text-align:center"><strong>Phân loại</strong><span></span></th>
									<th data-dojo-attach-point="nhietDo" onclick="that1.sortTram(2,this)" class="sortTram" style="width:20mm;text-align:center"><strong>Điện thoại</strong><span></span></th>
									<th onclick="that1.sortTram(3,this)" class="sortTram" style="width:30mm;text-align:center"><strong>Mô tả</strong><span></span></th>
                                    <th  hidden="hidden" class="sortTram" style="width:30mm;text-align:center"><strong>phân loại</strong><span></span></th>
								</tr>
							</thead>
							<tbody data-dojo-attach-point="tblT1"></tbody>
						</table>
					</div>
					<div data-dojo-attach-point="PopupGiaoViec" style="font-family:Times New Roman;font-size:12pt;">
						<input data-dojo-attach-point="cmdBack" onclick="that1.QuayTroLai();" style="float:right;font-size:x-large;display:none;" type="button" value=" ⇦ " title="Quay trở lại"/>
						<div data-dojo-attach-point="BaoCaoChiTietTram" style="display:none">
							<br />
							<br />
							<br />
							<table border="1" style="width:90mm;table-layout:fixed" cellpadding="10" cellspacing="0">
								<thead>
									<tr>
										<th class="sortTram" style="width:45mm;text-align:center"><strong>Thông số Trạm</strong></th>
										<th class="sortTram" style="width:45mm;text-align:center"><strong>Giá trị</strong></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td style="width:45mm;text-align:center"><strong>OBJECTID</strong></td>
										<td data-dojo-attach-point="txtObjectId" style="width:45mm;text-align:center"></td>
									</tr>
									<tr>
										<td style="width:45mm;text-align:center"><strong>Mã trạm</strong></td>
										<td data-dojo-attach-point="txtMaTram" style="width:45mm;text-align:center"></td>
									</tr>
									<tr>
										<td style="width:45mm;text-align:center"><strong>Loại trạm</strong></td>
										<td data-dojo-attach-point="txtLoaiTram" style="width:45mm;text-align:center"></td>
									</tr>
									<tr>
										<td style="width:45mm;text-align:center"><strong>Enabled</strong></td>
										<td data-dojo-attach-point="txtEnabled" style="width:45mm;text-align:center"></td>
									</tr>
									<tr>
										<td style="width:45mm;text-align:center"><strong>AncillaryRole</strong></td>
										<td data-dojo-attach-point="txtAncillaryRole" style="width:45mm;text-align:center"></td>
									</tr>
									<tr>
										<td style="width:45mm;text-align:center"><strong>Công xuất</strong></td>
										<td data-dojo-attach-point="txtCongXuat" style="width:45mm;text-align:center"></td>
									</tr>
									<tr>
										<td style="width:45mm;text-align:center"><strong>Nhiệt độ</strong></td>
										<td data-dojo-attach-point="txtNhietDo" style="width:45mm;text-align:center"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div data-dojo-attach-point="BaoCaoGiaoViec" style="display:none">
							<div>
								<h3 style="text-align:center;"><strong>XỬ LÝ SỰ CỐ</strong></h3>
							</div>
							<div>
								<span class="lab"><span class="lab-content">Loại sự cố :</span></span>&nbsp;
								<select data-dojo-attach-point="txtLoaiSuCo">
									<option value=1>Trạm quá tải</option>
									<option value=2>Nhiệt độ trạm cao</option>
									<option value=3>Sự cố khác</option>
								</select>
							</div>
							<br>
							<div>
								<span class="lab"><span class="lab-content">Chọn nhân công:</span></span>&nbsp;
								<select data-dojo-attach-point="cboNhanCong">
									<option value='all'>--chọn nhân công--</option>
								</select>
							</div>
							<div style="text-align:center;">
								 <input class="chucNangGiaoViec" id="btnGiaoViec" type="button" onclick="that1.XuLyGiaoViec();" value="Giao việc" data-dojo-attach-point="btnGiaoViec" />&nbsp
							</div>
						</div>
						<div data-dojo-attach-point="TheoDoiNhanCong" style="display:none;">
							<h3 style="text-align:center;"><strong>GIÁM SÁT NHÂN CÔNG</strong></h3>
							<table border="1" style="width:90mm;table-layout:fixed" cellpadding="10" cellspacing="0">
								<thead>
									<tr>
										<th class="sortTram" style="width:30mm;text-align:center"><strong>Tên</strong><span></span></th>
										<th class="sortTram" style="width:30mm;text-align:center"><strong>Số đầu việc</strong><span></span></th>
										<th class="sortTram" style="width:30mm;text-align:center"><strong>Trạng thái</strong><span></span></th>
									</tr>
								</thead>
								<tbody data-dojo-attach-point="GiamSatNhanCong"></tbody>
							</table>
						</div>
					</div>	
					<div data-dojo-attach-point="BieuDoTramDien">
						<h4><strong>Phương án đề xuất</strong></h4>
                        <!--<div data-dojo-attach-point="iddivdexuat" style="width:90mm;height:60mm;">
                          
                        </div>-->
                        <input type="text" hidden="hidden" data-dojo-attach-point="txtiddamchay"/>
                        <input type="text" hidden="hidden" data-dojo-attach-point="txtmotadamchay"/>
                        <table border="1" style="width:90mm;height:30mm;">
                            <tr>
                                <td>
                                   <textarea data-dojo-attach-point="txtphuongan" style="height:30mm"></textarea>
                                </td>
                                <td>
                                    <select data-dojo-attach-point="cbochondoi" style="width:40mm">
                                        <option value='all'>--chọn đội phòng cháy--</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" class="btn btnsm btn-primary">Sửa phương án</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btnsm btn-success" style="background-color: #338033;border-color: #338033;" onclick="that1.acception()">Chọn phương án</button>
                                </td>
                            </tr>
                        </table>
						 
					</div>

					<div data-dojo-attach-point="BaoCaoTramDaGiaoViec">
						 
						 
					</div>
				</td>
				 
			<tr>
		</table>	
	</center>
    
</div>
